.result{
    background-color: #EEEEEE;
    padding: 10px;
}

.measurements{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
}

.measurements > .table{
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.measurements > .table > .columnMeasurements {
    border-top: 1px solid black;
    border-right: 1px solid black;
}

.measurements > .table > .columnMeasurements > .date {
    width: 50%;
}

.measurements > .table > .columnMeasurements > .temperature {
    width: 25%;
}

.measurements > .table > .columnMeasurements > .humidity {
    width: 25%;
}