.result{
    background-color: #EEEEEE;
    padding: 10px;
}

.device_list {
    padding: 10px;
}

.measurements .device .title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.columnMeasurements {
    display: flex;
    border-top: 1px solid black;
    border-right: 1px solid black;
}

.columnMeasurements .date {
    width: 50%;
}

.columnMeasurements .temperature {
    width: 25%;
}

.columnMeasurements .humidity {
    width: 25%;
}